<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>GesTortuga | Inicio</title>
</head>
<body>
    <header class="header">
        <span class="title">GesTortuga</span>
        <a href="/login" class="button">Login</a>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <h1 class="title">Bienvenido a GesTortuga</h1>
                <p class="description">El sistema de administración de tortugas.</p>
            </div>
            <img class="logo" src="/static/img/logo.png" alt="">
        </div>
    </main>
</body>
</html>