@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #43493a;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    height: 10vh;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}
.header .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff
}
.header .button {
    background-color: #ffffff;
    color: #43493a;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    margin: 0 6px;
}
.header .button:hover {
    background-color: #e0e0e0;
}
.header .button:active {
    background-color: #c0c0c0;
}